.grid{
    display: grid;
    grid-template-columns:[full-start] minmax(1em, 1fr) [main-start] minmax(1em,1fr) [main-end] minmax(1em,1fr) [full-end];
}
.teacher{
    border: 1px solid rgb(128, 125, 120);
    border-radius: 10px;
    box-shadow: 1px 1px grey;
    grid-column: [full];
    padding: 1em;
}
.teacher:hover{
    box-shadow: 0;
    border: 0;
}
a{
    text-decoration: none;
    
}
#heading{
    grid-column: 1/-1;
}