html{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.fill {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    width: fit-content;
    border: black solid 2px;
    border-radius: 15px;
    box-shadow: 10px 10px maroon;
    padding: 10px;
    margin: 5px;
}
.tasks{
    border: 1px solid #222;
    border-radius: 10px;
    box-shadow: 5px 5px maroon;
}
.completed{
    text-decoration: line-through;
}